@import "@vue-flow/core/dist/style.css";
@import "@vue-flow/core/dist/theme-default.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.commoncard {
  @apply hover:scale-105 rounded-md cursor-pointer transition bg-pictobluetr shadow-sm py-4 px-6 shadow-white backdrop-blur-sm flex-shrink-0;
}

* {
  scroll-behavior: smooth;
}

.hover-effect:hover {
  box-shadow: 0px 0px 15px rgba(214, 73, 103, 0.8);
}

.hover-effect {
  @apply hover:border-pictored hover:shadow-shadowred transition;
}

#learn-section {
  background-image: url("/images/bg-dot.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.stroke {
  -webkit-text-stroke: 0.25px #000000;
}

.project-sidebar {
  @apply bg-pictoblue;
}

.project-sidebar button {
  @apply text-white bg-opacity-50 w-full text-left py-2 px-3 rounded-md;
}

.content-input {
  @apply px-3 py-2 bg-transparent text-white outline outline-1 outline-white;
}

.gutter,
.gutter-horizontal {
  @apply bg-pictored;
  cursor: col-resize;
}
