@tailwind base;
@tailwind components;
@tailwind utilities;

.commoncard {
  @apply hover:scale-105 rounded-md cursor-pointer transition bg-pictobluetr shadow-sm py-4 px-6 shadow-white backdrop-blur-sm flex-shrink-0;
}

* {
  scroll-behavior: smooth;
}

.hover-effect:hover {
  box-shadow: 0px 0px 15px rgba(214, 73, 103, 0.8);
}

.hover-effect {
  @apply hover:border-pictored hover:shadow-shadowred transition;
}

#learn-section {
  background-image: url("/images/bg-dot.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.stroke {
  -webkit-text-stroke: 0.25px #000000;
}
